name: Metrics

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # --------- ANIList plugin ---------
          plugin_anilist: yes
          plugin_anilist_user: "etsvb"
          plugin_anilist_token: ${{ secrets.ANILIST_TOKEN }}

          # Mostrar somente os personagens favoritos
          plugin_anilist_favorites: characters

          # Nome do arquivo gerado
          filename: anilist-characters.svg
