name: Generate AniList Characters Metrics
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          # Arquivo de saída
          filename: metrics.anilist.characters.svg

          # Nada da base
          base: ""

          # Plugin AniList
          plugin_anilist: yes
          plugin_anilist_sections: characters

          # Quantidade máxima de personagens
          plugin_anilist_limit_characters: 22

          token: ${{ secrets.METRICS_TOKEN }}
